* {box-sizing:border-box;}
html,body,main,header,a,img,nav,h1,span,h2,p,footer {
    margin:0; padding:0;
    font-size:1.0rem; font-weight:normal; font-style:normal;
    line-height:1.0;
}
a {color:#000; text-decoration:none;}
img {font-size: 1rem;}